[submodule "infra-rs"]
	path = infra-rs
	url = https://git.vito.be/scm/marvin/infra-rs.git
[submodule "cpp/deps/infra"]
	path = cpp/deps/infra
	url = https://github.com/VITObelgium/cpp-infra.git
[submodule "cpp/deps/vcpkg"]
	path = cpp/deps/vcpkg
	url = https://github.com/VITObelgium/vcpkg-ports.git
