.idea/
.vs/
gdx.sublime-workspace
.cmaketools.json
tags
js/assets/
.vscode/cquery_cached_index
*.pyc

cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Testing/
build/
CMakeLists.txt.user

python/test/raster.asc
python/test/raster.txt
compile_commands.json
.clangd
.cache
.DS_Store
